@import url(https://db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);


* {
    padding: 0;
    margin: 0;
    font-family: "SoDo Sans SemiBold";
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    height: 90px;
    width: 100%;
    outline: 0.5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    margin-right: 5rem;
}

.img-card {
    width: 45px;
}


header img {
    width: 100%;

}

header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    text-align: center;
    margin-left: 30px;
    font-size: 0.9rem;
    font-weight: 700;
}

.signIn {
    width: 70px;
    height: 30px;
    border-radius: 1rem;
    border: 1px solid black;
    margin-left: 50px;
    background-color: white;
    font-size: 0.8rem;
}

.signUp {
    width: 80px;
    height: 30px;
    border-radius: 1rem;
    border: none;
    margin-left: 10px;
    background-color: black;
    color: white;
    font-size: 0.8rem;

}

.second a {
    text-decoration: none;
    margin-left: 8px;
    font-size: 0.85rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 76%;
    height: 550px;
    margin-top: 30px;
    display: flex;

}

.subcontainer1 {
    width: 50%;
    height: 100%;
}

.subcontainer2 {
    width: 50%;
    height: 100%;
}

.container2 {
    height: 350px;
}

.container6 {
    height: 350px;
    margin-bottom: 30px;
}

.images {
    width: 100%;
    height: 100%;
}

.container6 {
    background-color: #337481;
}

.container1 .subcontainer1 {
    background-color: #bbf2d1;
}

.container2 .subcontainer2 {
    background-color: #1e3932;
}

.container3 .subcontainer1 {
    background-color: #efabfc;
}

.container4 .subcontainer2 {
    background-color: #b2b267;
}

.container5 .subcontainer1 {
    background-color: #eec0ab;
}

.subcontainer1,
.subcontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 .subcontainer1 .text-content h2 {
    font-size: 50px;
    line-height: 60px;
    word-spacing: 2px;
    text-align: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 22px;
    color: #1e3932;
}

.container1 .subcontainer1 .text-content p {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.16px;
    text-align: center;
    font-weight: normal;
    color: #1e3932;
    padding-bottom: 22px;
}

.container1 .subcontainer1 .text-content {
    width: 517px;
    height: 283px;
    /* background-color: blue; */
    text-align: center;
}

button {
    height: 35px;
    width: 120px;
    border-radius: 1.3rem;
    border: 1px solid black;
    background-color: transparent;
}


.container2 .subcontainer2 .text-content {
    width: 517px;
    height: 193px;
    text-align: center;
    color: white;
    padding-left: 48px;
    padding-right: 48px;
}

.container2 .subcontainer2 h3 {
    font-size: 24px;
    padding-bottom: 32px;
}

.container2 .subcontainer2 p {
    font-size: 19px;
    text-align: center;
    padding-bottom: 32px;
}

.container2 .subcontainer2 button {
    color: white;
    border: 1px solid white;
}

.container3 .subcontainer1 .text-content {
    width: 517px;
    height: 283px;
    /* background-color: blue; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container3 .subcontainer1 .text-content h2 {
    font-size: 50px;
    line-height: 60px;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 22px;
    color: #1e3932;
}

.container3 .subcontainer1 .text-content p {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    text-align: center;
    color: #1e3932;
    padding-bottom: 22px;
}

.container3 .subcontainer1 .text-content button,
.container4 .subcontainer2 .text-content button,
.container5 .subcontainer1 .text-content button {
    width: 105px;
    height: 32px;
    text-align: center;
}


.container4 .subcontainer2 .text-content h2 {
    font-size: 50px;
    line-height: 60px;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 22px;
    color: #1e3932;
}

.container4 .subcontainer2 .text-content p {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    color: #1e3932;
    padding-bottom: 22px;
}

.container5 .subcontainer1 .text-content h2 {
    font-size: 50px;
    line-height: 60px;
    word-spacing: 2px;
    text-align: center;
    padding-bottom: 22px;
    color: #1e3932;
}

.container5 .subcontainer1 .text-content p {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    color: #1e3932;
    padding-bottom: 22px;
}

.container6 .subcontainer2 .text-content {
    width: 517px;
    height: 226px;
}

.container6 .subcontainer2 .text-content h3 {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    color: white;
    padding-bottom: 22px;
}

.container6 .subcontainer2 .text-content p {
    color: white;
    text-align: center;
    line-height: 33.25px;
    font-size: 19px;
    letter-spacing: -0.16px;
    padding-bottom: 22px;
}

.container6 .subcontainer2 .text-content button {
    color: white;
    border: 1px solid white;
}

.offers {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.offers .text-content {
    width: 35%;
    font-size: 13px;
    line-height: 24px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offers .text-content a {
    color: black;
}

.more-info {
    margin-top: 80px;
    font-size: 12.7px;
}

footer {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid gray;
}

.first-foot {
    /* background-color: blue; */
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}


.first-foot h3 {
    font-size: 16.79px;
    padding-bottom: 30px;
}

.first-foot ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    color: rgba(102, 97, 97, 0.87);
}

.first-foot li {
    padding-bottom: 20px;
    /* font-size: 16px; */
}

.wrapper {
    width: 175px;
}

.second-foot {
    width: 80%;
    margin-top: 30px;
}

.second-foot ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.texts {
    display: flex;
    gap: 20px;
    font-size: 15px;
    color: rgba(34, 34, 34, 0.87);
    margin-bottom: 15px;
}

small {
    color: rgba(141, 141, 141, 0.87);
    font-size: 14px;
}

.copyright {
    margin-bottom: 50px;
}